css
:root {
  --bg-color: #F6E000;
  --text-color: #BA38F2;
  --primary-color: #FFA07D;
  --secondary-color: #F2059F;
  --tertiary-color: #AD05b3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #792F7A;
    --text-color: #F205B3;
    --primary-color: #BA38F2;
    --secondary-color: #F2C12E;
    --tertiary-color: #D9886A;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
}

h1 {
  margin: 0;
  color: var(--tertiary-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: var(--tertiary-color);
  text-decoration: none;
}

main {
  padding: 20px;
}

.content-container {
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
}

.pagination a {
  margin: 0 5px;
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  color: var(--tertiary-color);
}
