/* CSS Variables for easy theme management */
:root {
  --bg-color: #F6E000; /* Light background color */
  --text-color: #BA38F2; /* Light text color */
  --primary-color: #FFA07D; /* Light primary color */
  --secondary-color: #F2059F; /* Light secondary color */
  --tertiary-color: #AD05B3; /* Light tertiary color */
}

/* Dark mode adjustments */
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #792F7A; /* Dark background color */
    --text-color: #F205B3; /* Dark text color */
    --primary-color: #BA38F2; /* Dark primary color */
    --secondary-color: #F2C12E; /* Dark secondary color */
    --tertiary-color: #D9886A; /* Dark tertiary color */
  }
}

/* Base styles */
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
}

h1 {
  margin: 0;
  color: var(--tertiary-color);
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: var(--tertiary-color);
  text-decoration: none;
}

main {
  padding: 20px;
}

.content-container {
  margin-bottom: 20px;
}

.pagination {
  text-align: center;
}

.pagination a {
  margin: 0 5px;
  color: var(--secondary-color);
}

footer {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  color: var(--tertiary-color);
}
